@media screen and (max-width: 576px) {
    .hamburger-menu {
       display: block;
    }
    .navbar-menu{
        display: none;
    }
    .banner-content{
        width: 100%;
    }
    .banner-img{
        width: 100%;
    }
    .fitness-button{
       flex-direction: row;
    }
    .banner-hero{
        flex-direction: column;
    }
    .habbit-images{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .extra-run-area{
        flex-direction: column;
    }
    .extra-run-content {
        width: 100%;
    }
    .extra-run-img {
        width: 100%;
        margin-top: 10px;
    }
    .extra-run-content button {
       width: 100%;
    }
    .team-img{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .footer-content{
       flex-direction: column;
    }
}